body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-webkit-writing-mode:vertical-rl;
	-epub-hyphens:auto;
}
div.基本グラフィックフレーム {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.基本テキストフレーム {
	border-style:solid;
}
p._字半下げ {
	color:#000000;
	font-family:"A P-OTF 秀英にじみ四号 StdN M", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.786;
	margin-bottom:0;
	margin-left:14px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:-14px;
	text-transform:none;
	widows:1;
}
p.基本段落 {
	color:#000000;
	font-family:"Kozuka Mincho Pr6N R", serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.基本段落 rt {
	ruby-position:over;
}
p.コラムタイトル {
	color:#003461;
	font-family:"DNP秀英丸ゴB＋DINRound", sans-serif;
	font-size:23px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.438;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.コラム字下げ {
	color:#000000;
	font-family:"A P-OTF 秀英丸ゴシック StdN L", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.786;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.コラム小見出し {
	color:#000000;
	font-family:"A P-OTF 秀英丸ゴシック StdN B", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.786;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.コラム枠字 {
	color:#000000;
	font-family:"A P-OTF 秀英丸ゴシック StdN B", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.786;
	margin-bottom:0;
	margin-left:12px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:-12px;
	text-transform:none;
	widows:1;
}
p.コラム見出し {
	color:#000000;
	font-family:"A P-OTF あおとゴシック StdN EB", sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.389;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.コラム題字 {
	color:#3e3a3a;
	font-family:"ヒラギノ角ゴ Std W8", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.471;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.枠囲み {
	color:#000000;
	font-family:"A P-OTF 秀英にじみ四号 StdN M", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.786;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.注釈 {
	color:#000000;
	font-family:"A P-OTF 秀英にじみ四号 StdN M", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.583;
	margin-bottom:0;
	margin-left:116px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:-9px;
	text-transform:none;
	widows:1;
}
p.目タイトル {
	color:#000000;
	font-family:"A P-OTF 秀英にじみ角ゴ銀StdN B", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.563;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.目次 {
	color:#000000;
	font-family:"DNP秀英角ゴ金B＋DIN Pro", sans-serif;
	font-size:26px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.552;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.目次中 {
	color:#003461;
	font-family:"DNP秀英角ゴ金B＋DIN Pro", sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:1px;
	margin-left:23px;
	margin-right:0;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.目次基本 {
	color:#003461;
	font-family:"DNP秀英角ゴ金L＋DIN Pro", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:3px;
	margin-left:23px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.目次大 {
	color:#003461;
	font-family:"DNP秀英角ゴ金B＋DIN Pro", sans-serif;
	font-size:27px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.105;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:3px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.章タイトル {
	color:#000000;
	font-family:SimSun, serif;
	font-size:44px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.節タイトル {
	color:#000000;
	font-family:"A P-OTF 秀英角ゴシック銀 StdN B", sans-serif;
	font-size:23px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.188;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.項タイトル {
	color:#000000;
	font-family:"A P-OTF 秀英角ゴシック銀 StdN B", sans-serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.273;
	margin-bottom:0;
	margin-left:20px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:underline;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.１字下げ {
	color:#000000;
	font-family:"A P-OTF 秀英にじみ四号 StdN M", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.786;
	margin-bottom:0;
	margin-left:9px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:-9px;
	text-transform:none;
	widows:1;
}
span.ハイパーリンク {
	color:#15599f;
	text-decoration:underline;
}
span.… {
	color:#003461;
	font-size:8px;
}
span.縦中横 {
	-webkit-text-combine:horizontal;
	font-family:"A P-OTF 秀英丸ゴシック StdN L", sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.頁 {
	font-family:"DIN Pro Condensed Bold Italic", sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
p._idGenParaOverride-1 {
	page-break-after:always;
}
span._idGenCharOverride-1 {
	-webkit-text-combine:horizontal;
}
p.基本段落 rt._idGenRuby-1 {
	color:#000000;
}
div._idGenStoryDirection-1 {
	-webkit-writing-mode:vertical-rl;
}
div._idGenStoryDirection-2 {
	-webkit-writing-mode:horizontal-tb;
}
#_idContainer017 {
	display:inline-block;
	height:533px;
	position:relative;
	width:363px;
}
#_idContainer018, #_idContainer020, #_idContainer031, #_idContainer076, #_idContainer078, #_idContainer101, #_idContainer102, #_idContainer155, #_idContainer156, #_idContainer168, #_idContainer235, #_idContainer236, #_idContainer258, #_idContainer259, #_idContainer270 {
	display:inline-block;
	height:533px;
	width:363px;
}
#_idContainer021, #_idContainer032, #_idContainer042, #_idContainer054, #_idContainer065, #_idContainer079, #_idContainer089, #_idContainer103, #_idContainer113 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:45.55px;
	z-index:0;
}
#_idContainer022, #_idContainer033, #_idContainer043, #_idContainer055, #_idContainer066, #_idContainer080, #_idContainer090, #_idContainer104, #_idContainer114 {
	-ms-transform:translate(0.141px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.141px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.81px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.141px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.141px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:40.73px;
	z-index:1;
}
#_idContainer023, #_idContainer034, #_idContainer044, #_idContainer056, #_idContainer067, #_idContainer081, #_idContainer091, #_idContainer105, #_idContainer115 {
	display:inline-block;
	height:37px;
	position:relative;
	width:46px;
}
#_idContainer024, #_idContainer035, #_idContainer045, #_idContainer057, #_idContainer068, #_idContainer082, #_idContainer092, #_idContainer106, #_idContainer116, #_idContainer126, #_idContainer137, #_idContainer147, #_idContainer161, #_idContainer172, #_idContainer183, #_idContainer193, #_idContainer204, #_idContainer214, #_idContainer224, #_idContainer241, #_idContainer251, #_idContainer263, #_idContainer275 {
	-ms-transform:translate(0.000px,0.708px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.708px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:48.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.708px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.708px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:1;
}
#_idContainer025, #_idContainer036, #_idContainer046, #_idContainer058, #_idContainer069, #_idContainer083, #_idContainer093, #_idContainer107, #_idContainer117, #_idContainer127, #_idContainer138, #_idContainer148, #_idContainer162, #_idContainer173, #_idContainer184, #_idContainer194, #_idContainer205, #_idContainer215, #_idContainer225, #_idContainer242, #_idContainer252, #_idContainer264, #_idContainer276 {
	-ms-transform:translate(50.602px,1.346px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(50.602px,1.346px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:362.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(50.602px,1.346px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(50.602px,1.346px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.11px;
	z-index:0;
}
#_idContainer026, #_idContainer037, #_idContainer047, #_idContainer059, #_idContainer070, #_idContainer084, #_idContainer094, #_idContainer108, #_idContainer118, #_idContainer128, #_idContainer139, #_idContainer149, #_idContainer163, #_idContainer174, #_idContainer185, #_idContainer195, #_idContainer206, #_idContainer216, #_idContainer226, #_idContainer243, #_idContainer253, #_idContainer265, #_idContainer277 {
	display:inline-block;
	height:365px;
	position:relative;
	width:51px;
}
#_idContainer027, #_idContainer038, #_idContainer048, #_idContainer060, #_idContainer071, #_idContainer085, #_idContainer095, #_idContainer109, #_idContainer119, #_idContainer129, #_idContainer140, #_idContainer150, #_idContainer164, #_idContainer175, #_idContainer186, #_idContainer196, #_idContainer207, #_idContainer217, #_idContainer227, #_idContainer244, #_idContainer254, #_idContainer266, #_idContainer278 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.42px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:19.56px;
	z-index:0;
}
#_idContainer028, #_idContainer039, #_idContainer049, #_idContainer061, #_idContainer072, #_idContainer086, #_idContainer096, #_idContainer110, #_idContainer120, #_idContainer130, #_idContainer141, #_idContainer151, #_idContainer165, #_idContainer176, #_idContainer187, #_idContainer197, #_idContainer208, #_idContainer218, #_idContainer228, #_idContainer245, #_idContainer255, #_idContainer267, #_idContainer279 {
	-ms-transform:translate(3.968px,0.141px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(3.968px,0.141px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:20.51px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(3.968px,0.141px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(3.968px,0.141px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:18.00px;
	z-index:1;
}
#_idContainer029, #_idContainer040, #_idContainer050, #_idContainer062, #_idContainer073, #_idContainer087, #_idContainer097, #_idContainer111, #_idContainer121, #_idContainer131, #_idContainer142, #_idContainer152, #_idContainer166, #_idContainer177, #_idContainer188, #_idContainer198, #_idContainer209, #_idContainer219, #_idContainer229, #_idContainer246, #_idContainer256, #_idContainer268, #_idContainer280 {
	display:inline-block;
	height:21px;
	position:relative;
	width:22px;
}
#_idContainer052 {
	display:inline-block;
	height:301px;
	position:relative;
	width:60px;
}
#_idContainer053 {
	display:inline-block;
	height:372px;
	position:relative;
	width:76px;
}
#_idContainer064 {
	display:inline-block;
	height:357px;
	width:258px;
}
#_idContainer123 {
	-ms-transform:translate(18.708px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(18.708px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(18.708px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(18.708px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:45.55px;
	z-index:0;
}
#_idContainer124 {
	-ms-transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.81px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:59.58px;
	z-index:1;
}
#_idContainer125 {
	display:inline-block;
	height:37px;
	position:relative;
	width:65px;
}
#_idContainer134 {
	-ms-transform:translate(13.795px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(13.795px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(13.795px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(13.795px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:45.55px;
	z-index:0;
}
#_idContainer135 {
	-ms-transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.81px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:54.67px;
	z-index:1;
}
#_idContainer136 {
	display:inline-block;
	height:37px;
	position:relative;
	width:60px;
}
#_idContainer144 {
	-ms-transform:translate(18.519px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(18.519px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(18.519px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(18.519px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:45.55px;
	z-index:0;
}
#_idContainer145 {
	-ms-transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.81px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:59.40px;
	z-index:1;
}
#_idContainer146 {
	display:inline-block;
	height:37px;
	position:relative;
	width:64px;
}
#_idContainer158, #_idContainer180, #_idContainer190 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:65.96px;
	z-index:0;
}
#_idContainer159, #_idContainer181, #_idContainer191 {
	-ms-transform:translate(0.204px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.204px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.81px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.204px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.204px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:58.87px;
	z-index:1;
}
#_idContainer160, #_idContainer182, #_idContainer192, #_idContainer274 {
	display:inline-block;
	height:37px;
	position:relative;
	width:66px;
}
#_idContainer169 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:63.13px;
	z-index:0;
}
#_idContainer170 {
	-ms-transform:translate(0.196px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.196px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.81px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.196px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.196px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:56.35px;
	z-index:1;
}
#_idContainer171, #_idContainer250 {
	display:inline-block;
	height:37px;
	position:relative;
	width:63px;
}
#_idContainer201 {
	-ms-transform:translate(15.685px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(15.685px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(15.685px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(15.685px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:45.55px;
	z-index:0;
}
#_idContainer202 {
	-ms-transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.81px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:56.56px;
	z-index:1;
}
#_idContainer203, #_idContainer262 {
	display:inline-block;
	height:37px;
	position:relative;
	width:62px;
}
#_idContainer211 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:71.63px;
	z-index:0;
}
#_idContainer212 {
	-ms-transform:translate(0.222px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.222px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.81px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.222px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.222px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:63.91px;
	z-index:1;
}
#_idContainer213, #_idContainer223 {
	display:inline-block;
	height:37px;
	position:relative;
	width:72px;
}
#_idContainer221 {
	-ms-transform:translate(26.078px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(26.078px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(26.078px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(26.078px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:45.55px;
	z-index:0;
}
#_idContainer222 {
	-ms-transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.81px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:66.95px;
	z-index:1;
}
#_idContainer232 {
	display:inline-block;
	height:347px;
	position:relative;
	width:60px;
}
#_idContainer233, #_idContainer234 {
	display:inline-block;
	height:345px;
	position:relative;
	width:44px;
}
#_idContainer238 {
	-ms-transform:translate(12.850px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(12.850px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(12.850px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(12.850px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:45.55px;
	z-index:0;
}
#_idContainer239 {
	-ms-transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.81px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:53.73px;
	z-index:1;
}
#_idContainer240 {
	display:inline-block;
	height:37px;
	position:relative;
	width:59px;
}
#_idContainer248 {
	-ms-transform:translate(17.574px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(17.574px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(17.574px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(17.574px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:45.55px;
	z-index:0;
}
#_idContainer249 {
	-ms-transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.81px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:58.45px;
	z-index:1;
}
#_idContainer260 {
	-ms-transform:translate(16.629px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(16.629px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(16.629px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(16.629px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:45.55px;
	z-index:0;
}
#_idContainer261 {
	-ms-transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.81px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:57.51px;
	z-index:1;
}
#_idContainer272 {
	-ms-transform:translate(20.409px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(20.409px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(20.409px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(20.409px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:45.55px;
	z-index:0;
}
#_idContainer273 {
	-ms-transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.81px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,5.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:61.29px;
	z-index:1;
}
#_idContainer284 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:357.17px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:244.49px;
	z-index:0;
}
#_idContainer285 {
	-ms-transform:translate(58.110px,25.511px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(58.110px,25.511px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(58.110px,25.511px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(58.110px,25.511px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:178.72px;
	z-index:1;
}
#_idContainer286 {
	display:inline-block;
	height:357px;
	position:relative;
	width:244px;
}
#_idContainer287 {
	display:inline-block;
	height:129px;
	width:363px;
}
#_idContainer289 {
	display:inline-block;
	height:0px;
	position:relative;
	width:126px;
}
#_idContainer292 {
	display:inline-block;
	height:75px;
	width:363px;
}
#_idContainer293 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:106.58px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:156.47px;
	z-index:0;
}
#_idContainer294 {
	-ms-transform:translate(27.996px,2.716px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(27.996px,2.716px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(27.996px,2.716px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(27.996px,2.716px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:122.74px;
	z-index:1;
}
#_idContainer295 {
	display:inline-block;
	height:107px;
	position:relative;
	width:156px;
}
#_idContainer297, #_idContainer298, #_idContainer300, #_idContainer302 {
	display:inline-block;
	height:0px;
	position:relative;
	width:151px;
}
#_idContainer304 {
	display:inline-block;
	height:36px;
	position:relative;
	width:136px;
}
#_idContainer305 {
	display:inline-block;
	height:54px;
	width:363px;
}
img._idGenObjectAttribute-1 {
	height:17px;
	width:36px;
}
img._idGenObjectAttribute-2 {
	height:36px;
	width:17px;
}
img._idGenObjectAttribute-3 {
	height:100.00%;
	min-height:100%;
	width:100.00%;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
